/* font face  */

@font-face {
    font-family: 'Poppins-Regular';
    src: url("font/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family:'cochin-italic' ;
    src: url("font/cochin/cochin-italic.otf");
}

@font-face {
    font-family:'Poppins-Bold' ;
    src: url("font/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src: url("font/myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR.woff");
}
/* margin top */

.mt_33{
    margin-top: 33px;
}

.mt_125 {
    margin-top: 125px;
}
.pt_125 {
    padding-top: 125px;
}
.pb_125 {
    padding-bottom: 125px;
}

.mt_45{
    margin-top: 45px;
}

.mt_70 {
    margin-top: 70px;
}

.mt_10{
    margin-top: 10px;
}
.mt_255{
    margin-top: 255px;
}

.mt_130{
    margin-top: 130px;
}
/* margin left  */

.ml_50{
    margin-left: 50px;
}

/* margin right */


/* margin bottom  */



/* section 1  */
 
.bg_img_1{
    background-image: url("img/bg_1.png");
    background-position: center;
    background-size: cover;
    /* min-height: 970px; */
    height: 100vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    /* background-size: contain; */
    margin: 0%;
    padding: 0%;
}



.nav_bar ul li {
    float: left;
    text-transform: uppercase;
    padding: 26px 7px;
    list-style: none;
    font-size: 11pt;
    font-family: 'Poppins-Regular';

}   

.nav_bar ul li a{
    text-decoration: none;
    color: #fd4b18;
}

.nav_bar ul li a:hover{
    color: #4422a0;
}    

/* section 1 ends  */

/* section 2 starts  */


/* <!-- your dream with pentart --> */

.bg_img_2{
    background-image: url("img/bg_2.png");
    background-position: center;
    background-size: cover;
    /* min-height: 970px; */
    height: 100vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    /* background-size: contain; */
    margin: 0%;
    padding: 0%;
}


.content_1 h1 {
    font-family: 'cochin-italic';
    font-size: 67pt;
    font-weight: bold;
}
.orange{
    color: #fd4b18;
}

.blue{
    color: #37139a;
}

.white{
    color: #ffffff;
}

.yellow_bird_pic{
    width: 100%;
}

.yellow_bird_pic img {
    width: 89%;
    margin-top: 310px;
}

.content_2{
    /* float: right; */
}

.content_2 h1 {
    font-size: 39pt;
    font-family: 'Cochin-Italic';
    /* text-align: ; */
    margin-left: 35%;
}

.content_2 h2 {
    font-size: 23pt;
    font-family: ' Poppins-Bold';
    color: #ffffff;
    margin-left: 0%;
    font-weight: bold;
}
.content_2 p{
    font-family: 'Poppins-Regular';
    font-size: 12pt;
    color: #ffffff;
    text-align: right;
}

.button {
    background-color: #fd4b18;
    border: none;
    color: white;
    padding: 15px 37px;
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btn_1{
      /* float: right; */
      text-align: right;

  }

    .button1 {
    border-radius: 150px;
    background-color: #fd4b18;
    font-size: 8pt;
}


/* section 2 ends  */


/* section 3 starts  */

.bg_img_3{
    background-image: url("img/bg_3.png");
    background-position: center;
    background-size: cover;
    /* min-height: 970px; */
    height: 100vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    /* background-size: contain; */
    margin: 0%;
    padding: 0%;
}


.orange{
    color: #fd4b18;
}

.blue{
    color: #37139a;
}

.white{
    color: #ffffff;
}

.yellow_bird_pic{
    width: 88%;
}

.yellow_bird_pic img {
    width: 100%;
    margin-top: 129px;
}


.content_3 h1 {
    font-size: 39pt;
    font-family: 'Cochin-Italic';

    /* margin-left: 33%; */
}

.content_3 p{
    font-family: 'Poppins-Regular';
    font-size: 12pt;
    color: #ffffff;
    text-align: left;
}

.button {
    /* border: none;
    color: white;
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer; */
  }


  .btn_2{
      /* float: left; */

  }

    .button2 {
    border-radius: 150px;
    background-color: #fd4b18;
    font-size:  8pt;

}

.deer_pic{
    width: 70%;
    margin-top: 115px; 
       margin-left: 30%;
}

.deer_pic img {
    width: 100%;

}

/* section 3 ends  */



/* section 4 starts  */


.content_4{
    /* float: right; */
}

.content_4 h1 {
    font-size: 39pt;
    font-family: 'Cochin-Italic';
    text-align: right;

    /* margin-left: 33%; */
}

.content_4 p{
    font-family: 'Poppins-Regular';
    font-size: 12pt;
    color: #ffffff;
    text-align: right   ;
}

.button {
    /* border: none;
    color: white;
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer; */
  }

  .btn_3{
      /* float: right; */
      text-align: right;

  }

    .button3 {
    border-radius: 150px;
    background-color: #fd4b18;
    font-size:  8pt;
    /* float: right; */

}

.yellow_bird_pic{
    width: 100%;
}

.color_brush{
    width: 89%;
}

.color_brush img {
    width: 100%;
    margin-top: 310px;
    margin-left: -32%;
}






/* section 4 ends */


/* section 5  starts */


.content_5 h1 {
    font-size: 39pt;
    font-family: 'Cochin-Italic';
    /* text-align: left; */

    /* margin-left: 33%; */
}

.content_5 p{
    font-family: 'Poppins-Regular';
    font-size: 12pt;
    color: #ffffff;
    /* text-align: left; */
}

.button {
    /* border: none;
    color: white;
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer; */
  }

  .btn_4{
      /* float: left; */

  }

    .button4 {
    border-radius: 150px;
    background-color: #fd4b18;
    font-size:  8pt;

}


.client_1 {
    float: right;
    /* margin-top: 250px; */
    /* box-shadow:  10px 232px 7px 155px #ebebeb; */
}

.white_box {
    /* background-image: url("img/white_box.png"); */
    /* width: 370px; */
    /* min-height: 470px; */
    box-shadow: 0px 0px 18px 0px #CCC;
    border-radius: 5px;
    padding: 25px;
}

.client_1 h3 {
    color: #fd4b18;

}

.client_1 p {
    color: black;
}
.client_2 {
    float: right;
    margin-top: 128px;
    margin-right: 31%; 
    /* box-shadow:  10px 232px 7px 155px #ebebeb; */
}

.client_2 h3 {
    color: #fd4b18;

}

.client_2 p {
    color: black;
}

hr{
    width: 80%;
}

.c1_img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: -74px;
}




/* section 5 ends   */






/* section 7  */
.beauty_pic {
    width: 100%;
    float: left;
    margin: 279px 41px;
}
.beauty_pic img {
    width: 100%;
    float: left;
}


.menu3 .fa{
    color: black;
    padding: 5px 8.5px;
    background-color: whitesmoke;
    border-radius: 7.5px;
}

.bg_img_4{
    /* background-image: url("img/last_rectangle.png"); */
    background-position: center;
    background-color: #14234d;
    background-size: cover;
    /* min-height: 970px; */
    height: 50vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    /* background-size: contain; */
    margin: 0%;
    padding: 0%;
}

.menu{
    color: whitesmoke;
    margin-top: 110px;
}

.menu2,.menu3{
    color: whitesmoke;
    margin-top: 165px;
}

.button {
    /* border: none;
    color: white;
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer; */
  }

  .btn_4{
      /* float: left;
       */

  }

    .button5 {
    border-radius: 150PX;
    background-color: #fd4b18;
    font-size:  10pt;

}

button.button.button5 {
    padding: 6px 30px;
    margin-top: 11px;
}


.bg_img_5{
    /* background-image: url("img/last_rectangle.png"); */
    background-position: center;
    background-color: #14234d;
    background-size: cover;
    /* min-height: 970px; */
    height: 4.5vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    /* background-size: contain; */
    margin: 0%;
    padding: 0%;
}

.copy_right{
    text-align: center;
    color: whitesmoke;
    /* border-top: 1px solid black; */
    /* border-width: 50%; */
}



/* section 7 ends  */

/* section 8  */


.border1{
    width: 58%;
    margin: auto;
    border-top: 1px solid whitesmoke;
}
.pl-100
{
    padding-left: 88px;
}
.pt_125
{
    padding-top: 125px;
}

.fa{
    font-size: 5px;
}
.sm{
    padding: 9px;
    background-color: #ffffff;
    border-radius: 5px 4.5px;
}