@font-face {
    font-family: 'Cochin' !important ;
    src: url("font/Cochin.ttf");
}

body{
    /* font-family: 'Cochin' !important;     */
}
/* margin top */

.mt_32{
    margin-top: 32px;
}

.mt_67{
    margin-top: 76px;
}

.mt_100{
    margin-top: 100px;
}

/* margin left */

.ml_45{
    margin-left: 45px;
}

.ml_120{
    margin-left: 120px;
}

/* section 1 */


/* .img_1{
    background-image: url("img/bg_1.png");
    background-size: cover;
    min-height: 743px;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
} */

/* .img_1 { */
    /* background-image: url("img/bg_1.png"); */
    /* background-size: cover; */
    /* min-height: 743px; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    /* width: 100%; */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* position: relative; */
/* } */

.img_1{
    background-image: url("img/bg_1.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
    width: 100%;

}
.nav_bar {
    margin-top: 47px;
}

.nav_bar ul{
    float: left;
}

.nav_bar ul li {
    float: left;
    list-style: none;
    text-transform: uppercase;
}

.nav_bar ul li a {
    text-decoration: none;
    padding: 11px;
    font-size: 12pt;
    color: #fb7954;
}

.nav_bar ul li a:hover{
    color: #5031a7;

}

.content_1{
    /* colo */
}

.content_1 h1 {
    font-size: 62pt;
    padding: 46px;
    font-family: 'Cochin';
    font-style: italic;

}

.or_color{
    color: #fb7954
}

.blue{
    color: #37139a;
}

.content_1 span .black{
    
}


.col-md-4.mr {
    margin-left: 130px;
}

/* section 1 */

/* section 2 */

/* .img_2{
    background-image: url("img/bg_2.png");
    background-size: cover;
    min-height: 743px;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
} */


/* .img_2 { */
    /* background-image: url("img/bg_2.png"); */
    /* background-size: cover; */
    /* min-height: 743px; */
    /* background-attachment: fixed; */
    /* background-position: center; */
    /* width: 100%; */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* position: relative; */
/* } */

.img_2 {
    background-image: url("img/bg_2.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
    width: 100%;
}

/* section 2 */
.left_side {
    width: 78%;
}
.left_side img {
    width: 100%;
    margin-top: 85%;
}



.right_side{

}

/* .right_side h1{
    font-size: 45pt;
    padding: 46px;
    font-family: 'Cochin';
    font-style: italic;

} */

.right_side h1 {
    font-size: 45pt;
    padding: 46px 9px;
    font-family: 'Cochin';
    font-style: italic;
}

.orange{
    color: #fb7954 ;
}

.white{
    color: whitesmoke;
}


/* .title_1 {
    color: whitesmoke;
    font-size: 22.5pt;
    margin-top: -48px;
    font-weight: bold;
} */

.title_1 {
    color: whitesmoke;
    font-size: 20pt;
    margin-top: -48px;
    font-weight: bold;
}

/* .para_1 {
    color: whitesmoke; */
    /* float: right; */
    /* padding: 21px 186px;
    text-align: right;
} */

.para_1 {
    color: whitesmoke;
    /* float: right; */
    text-align: right;
    padding: 35px 107.5px;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("font/Poppins/Poppins-Regular.ttf");
}

.para_1 p{
    font-family:'Poppins-Regular';
}

.button {
    background-color: #fb7954 ;
   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btn_1 .button1 {
    border-radius: 150px;
}

  .btn_1 {
    text-align: center;
    margin-left: 120px;
}
/* section 2 ends */


/* section 3 starts */


.img_3 {
    background-image: url("img/bg_3.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
    width: 100%;
}

.para_2 {
    color: whitesmoke;
    /* float: right; */
    text-align: right;
    padding: -14px 74.5px;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("font/Poppins/Poppins-Regular.ttf");
}

.para_2 p {
    font-family: 'Poppins-Regular';
    text-align: left;
}

.left_side h1 {
    font-size: 45pt;
    padding: 46px 9px;
    font-family: 'Cochin';
    font-style: italic;
}

.btn_2 .button2 {
    border-radius: 150px;
}

.btn_2 {
    text-align: center;
    margin-right: 209px;
}